<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>
<div th:insert="/navbar.html"></div>
<div class="row">
    <div class="col-9 mx-auto">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SURNAME</th>
                <th>EXAM</th>
                <th style="width: 10%">MARK</th>
            </tr>
            </thead>
            <tbody>

            <tr class="text-light" th:each="student : ${students}"  th:class="${(student.exam<50)?'text-danger':'text-dark'}">

                <td th:text="${student.id}">
                </td>

                <td th:text="${student.name}">
                </td>

                <td th:text="${student.surname}">
                </td>

                <td th:text="${student.exam}">
                </td>

                <td th:text="${student.mark}">
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>